* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

#header-container {
  grid-area: 1 / 1 / 2 / 2;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
}

#profile-img {
  margin-top: 2rem;
  border-radius: 50%;
  width: 20rem;
  max-width: 10rem;
}

#profile-bio-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#profile-bio-container p {
  text-align: center;
}

#projects-container {
  grid-area: 2 / 1 / 3 / 2;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 100vw;
  justify-content: center;
}

.project-container {
  margin-top: 1rem;
  width: 10rem;
  margin: 1rem;
  background-color: green;
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.project-image {
  width: 100%;
}

#footer-container {
  grid-area: 3 / 1 / 4 / 2;
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

#footer-container p {
  text-align: center;
}

#contact-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* media query @1080PX */

@media screen and (min-width: 1024px) {
  * {
    font-size: 16px;
  }
  #main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: px;
    grid-row-gap: 0px;
    height: 100vh;
  }
  #header-container {
    grid-area: 1 / 1 / 5 / 2;
    justify-content: flex-start;
  }
  #profile-img {
    max-width: 14rem;
  }
  #profile-bio-container {
    width: 100%;
    margin-left: 4rem;
  }
  #profile-bio-container p {
    text-align: left;
  }
  #projects-container {
    grid-area: 1 / 2 / 6 / 5;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
  }
  .project-container {
    /* width: 20vw;
    max-width: 15rem; */
    flex: 0 0 30%;
    height: fit-content;
    /* padding: 0.5rem 0.5rem 0 0.5rem; */
  }
  #footer-container {
    grid-area: 5 / 1 / 6 / 2;
  }
  #contact-container {
    width: 100%;
    margin-left: 4rem;
    margin-top: 2rem;
  }
  #contact-container p {
    text-align: left;
  }
}